.hmbody{
    margin:0;
    padding: 0;
    background-image: url("background.jpg");
    /*background-position: center;*/
    background-repeat:no-repeat;
    background-size: 100% 65%;
}
.logo{
  float:left;
}
.hmul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    height: 70px;
    overflow: hidden;
    background-color: #333;
  }
  
  .hmli {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
  }
  
  .hmli:last-child {
    border-right:1px solid #bbb;
  }

  .hmimg{
      margin-left: 10px;
      margin-top: 5px;
  }
  
  .hmli {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .hmli:hover{
    background-color:white;
    color: black;
  }
  .card_s {
    display: inline-block;
    background-color:white;
    margin-left: 35px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 160px;
    height: 185px;
    margin-top: 10px;
   
  }
  .img_1{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: auto;
    width: 100px;
    height: 100px;
  }

  .card_s:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: black;
    transform: scale(1.1);
  }
  
  .containers_text {
    text-decoration:none;
    color:black;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
  }
  .texts{
    text-decoration: none;
  }
  .containers_text:hover {
    color:white;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
  }
  .cards1{
     padding: 50px;
      background-color:ghostwhite;
      margin-top: 500px;
  }
  .search1{
      display: flex;
      justify-content: center;
      margin-top: 450px;
  }
  .search2{
    border-radius: 25px;
  border: 5px solid black;
  background-color: transparent;
        padding: 20px;
      width: 800px;
  }
  .search2:hover{
    background-color: white;
  }
  .btn1:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }
  .btn1{
    border-radius: 25px;
     border: 5px solid black;
      padding: 20px;
      background-color: transparent;
  }
  .foot{
    margin-top: 10px;
  }