.navbar1 {
    background-color:  #333;;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border: 2px solid grey;
  }
  
.nav-links{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.5rem;
    /* height: 90%; */
    /* width: 90%; */
    align-items: center;
  }


  .menu-bars:hover{
    background-color: #111;
    border: 2px solid grey;
    color: white;
  }
  
  .nav-menu {
    background-color: #333;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border: 3px solid grey;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text1 a:hover {
    background-color: #000;
    color: white;
    border: 3px solid grey;
    width: 95%;
    height: 150%;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  /* Moving arrow  */
  .navbar-toggle {
    background-color: #333;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  
  .adminHeader {

    margin-bottom:0;
    background-color:black;
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 1.0) ),url('../Images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:450px
}

.sph3{
  margin-top: 50px;
  color:white
}

.companyName {

  color: white;
  text-align: left;
  padding-left: 40px;
}